/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Quicksand", sans-serif;
  background-color: white;
}
body {
  text-align: center;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Open Sans", sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.navigation {
  display: flex;
  margin: 0 auto;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 90%;
  justify-content: space-between;
  background-color: white;
}
@media (max-width: 915px) {
  .navigation {
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media (max-width: 500px) {
  .navigation {
    flex-direction: column;
    width: 90%;
  }
}
.navigation .img-logo {
  min-width: 10em;
  max-width: 10em;
  height: 8em;
  border-radius: 25%;
}
@media (max-width: 915px) {
  .navigation .img-logo {
    padding-right: 0px;
  }
}
@media (max-width: 500px) {
  .navigation .img-logo {
    display: none;
  }
}
.navigation .nav-links {
  display: flex;
  margin-top: 2%;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 500px) {
  .navigation .nav-links {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    flex-direction: column;
  }
}
@media (max-width: 915px) {
  .navigation .nav-links {
    width: 95%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
}
@media (max-width: 500px) {
  .navigation .nav-links .n-links {
    margin-top: 2%;
  }
}
.navigation .nav-links .n-links a {
  color: #36312f;
  letter-spacing: 2px;
  font-size: 1.8rem;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  padding: 8px;
  line-height: 25px;
}
.navigation .nav-links .n-links a:hover {
  text-decoration: underline;
  color: black;
}
.navigation .nav-links .n-links a:focus {
  text-decoration: underline;
  color: black;
}
@media (max-width: 500px) {
  .navigation .nav-links .n-links a {
    justify-content: space-evenly;
  }
}
@media (max-width: 915px) {
  .navigation .nav-links .n-links a {
    justify-content: space-evenly;
  }
}
.navigation .modal-button {
  -moz-box-shadow: 3px 4px 0px 0px #8a2a21;
  box-shadow: 3px 4px 0px 0px #8a2a21;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
  background: -moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
  background: -webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
  background: -o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
  background: -ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
  background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437', GradientType=0);
  background-color: #c62d1f;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  border: 1px solid #d02718;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 7px 25px;
  margin-top: 15%;
  text-decoration: none;
  text-shadow: 0px 1px 0px #810e05;
}
@media (max-width: 500px) {
  .navigation .modal-button {
    margin: 8px;
    width: 100%;
  }
}
@media (max-width: 915px) {
  .navigation .modal-button {
    margin: 8px;
    width: 100%;
  }
}
.navigation .modal-button:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
  background: -moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
  background: -webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
  background: -o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
  background: -ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
  background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f', GradientType=0);
  background-color: #f24437;
  border-radius: 18px;
}
header .first-photo {
  position: relative;
  text-align: center;
  color: #fcb614;
}
header .first-photo .bottom-left {
  position: absolute;
  bottom: 1em;
  left: 10em;
}
header .first-photo .bottom-left h2 {
  font-size: 4rem;
  letter-spacing: 5px;
}
header .first-photo .bottom-left p {
  font-size: 2rem;
  letter-spacing: 1px;
}
header .first-photo .img-header {
  opacity: 0.9;
}
header .info-top {
  display: block;
  flex-wrap: wrap;
  margin-top: 3%;
  margin-bottom: 5%;
}
@media (max-width: 500px) {
  header .info-top {
    width: 100%;
  }
}
header .info-top img {
  width: 100%;
  opacity: 0.9;
}
header .info-top .text-cnt {
  margin: 0 auto;
  max-width: 92%;
  margin-bottom: 2%;
  color: #36312f;
}
header .info-top .text-cnt h2 {
  font-size: 3.2rem;
  letter-spacing: 1px;
}
header .info-top .text-cnt p {
  font-size: 1.6rem;
  letter-spacing: 1px;
}
footer {
  margin-top: 5%;
  padding-bottom: 1%;
  background-color: white;
}
footer .apps {
  margin-top: 1%;
}
footer p {
  font-size: 1.4rem;
  font-weight: bold;
  padding-bottom: 1%;
  padding-top: 1%;
  color: #36312f;
  letter-spacing: 2px;
}
footer img {
  width: 100%;
  opacity: 0.9;
}
footer a {
  color: #36312f;
  letter-spacing: 2px;
  font-size: 1.8rem;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  padding: 8px;
  line-height: 25px;
}
footer a:hover {
  text-decoration: underline;
  color: black;
}
footer a:focus {
  text-decoration: underline;
  color: black;
}
.intro-index {
  background: #fcb614;
  background-size: cover;
  margin-top: 5%;
  color: #cb2029;
  font-weight: bolder;
  padding: 5% 2% 2%;
}
.intro-animation {
  animation: blinkingText 4s infinite;
  margin: 0, auto;
  font-size: 5rem;
}
.modal-button {
  -moz-box-shadow: 3px 4px 0px 0px #8a2a21;
  box-shadow: 3px 4px 0px 0px #8a2a21;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
  background: -moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
  background: -webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
  background: -o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
  background: -ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
  background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437', GradientType=0);
  background-color: #c62d1f;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  border: 1px solid #d02718;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 7px 25px;
  margin-top: 5%;
  margin-bottom: 5%;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ec4438;
}
@media (max-width: 500px) {
  .modal-button {
    width: 95%;
  }
}
.modal-button #btn2 {
  padding-bottom: 100px;
}
.modal-button:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
  background: -moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
  background: -webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
  background: -o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
  background: -ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
  background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f', GradientType=0);
  background-color: #f24437;
  border-radius: 18px;
}
.intro-photo img {
  border-radius: 10px;
  width: 50rem;
  height: 40rem;
  padding: 20px;
}
.feature-section {
  padding: 110px 0 110px;
  background: #cfcfd1;
  padding-bottom: 160px;
}
.feature-section .feature-header {
  margin-top: 50px;
  color: #073784;
  font-weight: bold;
}
@keyframes blinkingText {
  0% {
    color: #cb2029;
  }
  99% {
    color: transparent;
  }
  100% {
    color: #cb2029;
  }
}
.accordion {
  color: #36312f;
  background-color: #fcb614;
}
.accordion .meet-header h2 {
  padding: 1%;
  letter-spacing: 1px;
  color: #36312f;
}
.accordion .team {
  padding: 2%;
}
.accordion .team .team-bar {
  display: flex;
  justify-content: space-between;
}
.accordion .team .team-bar .team-buttons button {
  border-radius: 10px;
  border: none;
  color: #fdf5e6;
  padding: 8px;
  cursor: pointer;
  text-align: center;
  background-color: #cb2029;
}
.accordion .team .team-bar .team-buttons button:hover {
  background-color: #a7c737;
}
.accordion .team .team-bar .team-buttons .hide-btn {
  display: none;
}
.accordion .team .team-content {
  display: none;
  margin-top: 1%;
}
.accordion .team .team-content .card {
  background-color: #fdf5e6;
  border: 2px solid #a7c737;
  border-radius: 10px;
  width: 80%;
  margin: 0 auto;
  display: flex;
}
@media (max-width: 500px) {
  .accordion .team .team-content .card {
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }
}
.accordion .team .team-content .card .card-img {
  width: 50%;
  max-height: 40rem;
  border-radius: 10px;
}
@media (max-width: 500px) {
  .accordion .team .team-content .card .card-img {
    width: 100%;
  }
}
.accordion .team .team-content .card .dev-person {
  width: 50%;
  margin-top: 6%;
}
.accordion .team .team-content .card .dev-person .title {
  font-size: 1.6rem;
  margin-bottom: 3%;
}
@media (max-width: 500px) {
  .accordion .team .team-content .card .dev-person {
    margin-top: 2%;
    width: 100%;
  }
}
.accordion .team .team-content .card .dev-person .button {
  border: none;
  color: #fdf5e6;
  padding: 8px;
  cursor: pointer;
  text-align: center;
  background-color: #cb2029;
  margin-top: 5%;
  outline: 0;
  display: inline-block;
  width: 100%;
}
@media (max-width: 500px) {
  .accordion .team .team-content .card .dev-person .button {
    margin-top: 2%;
  }
}
.accordion .team .team-content .card .dev-person .button:hover {
  background-color: #a7c737;
}
.accordion .team .toggle-on {
  display: flex;
}
.download {
  font-size: 50rem bolder;
  padding: 25px;
}
#feature-item-intro {
  background: url(../img/dark-empty-classroom.jpg);
  opacity: 0.6;
  opacity: 1;
}
#feature-item-intro .feature-header {
  color: #fcb614;
  padding: 12px;
  font-size: 4rem;
}
#feature-item-intro .feature-content {
  color: #fcb614;
  padding: 12px;
  font-size: 2.5rem;
  padding: 20px;
}
.flicker {
  animation: flicker 2s infinite;
}
#apple-badge {
  height: 60em;
  width: 60em;
}
#app-feature {
  background: url(../img/Cell\Phone.jpg);
  background-color: #cfcfd1;
  opacity: 0.8;
}
#app-feature .feature-header {
  color: #073784;
  padding: 12px;
  font-size: 4rem;
}
#app-feature .feature-content {
  color: #073784;
  padding: 12px;
  font-size: 2.5rem;
  padding: 20px;
}
#connect-feature {
  background: url(../img/sticky=note\meeting.jpg);
  background-color: #cfcfd1;
}
#connect-feature .feature-header {
  color: #fdf5e6;
  padding: 12px;
  font-size: 4rem;
  background-color: #36312f;
  opacity: 0.7;
}
#connect-feature .feature-content {
  color: #fdf5e6;
  padding: 12px;
  font-size: 2.5rem;
  padding: 20px;
  background-color: #36312f;
  opacity: 0.7;
}
#work-order-feature {
  background-color: #a7c737;
}
#work-order-feature .feature-header {
  color: #fcb614;
  padding: 12px;
  font-size: 4rem;
  background-color: #36312f;
  opacity: 0.7;
}
#work-order-feature .feature-content {
  color: #fcb614;
  padding: 12px;
  font-size: 2.5rem;
  padding: 20px;
  background-color: #36312f;
  opacity: 0.7;
}
@keyframes flicker {
  0% {
    color: #000;
  }
  49% {
    color: transparent;
  }
  50% {
    color: #fff;
  }
  52% {
    color: transparent;
  }
  75% {
    color: #000;
  }
  80% {
    color: transparent;
  }
  96% {
    color: #fff;
  }
  98% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: #000;
  }
}
.modal-background {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: auto;
  justify-content: center;
  align-items: center;
  display: none;
}
.modal-background .modal-content {
  width: 300px;
  height: 500px;
  background-color: white;
  border-radius: 4px;
  text-align: center;
  padding: 20px;
  position: relative;
  animation-name: modOpen;
  animation-duration: 1s;
}
.modal-background .modal-content .close {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 30px;
  transform: rotate(45deg);
  cursor: pointer;
}
.modal-background .modal-content #modal-img {
  max-height: 100px;
  max-width: 50%;
  overflow: visible;
  padding-top: 0;
  padding-bottom: 10px;
}
.modal-background .modal-content .modal-button {
  -moz-box-shadow: 3px 4px 0px 0px #8a2a21;
  -webkit-box-shadow: 3px 4px 0px 0px #8a2a21;
  box-shadow: 3px 4px 0px 0px #8a2a21;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
  background: -moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
  background: -webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
  background: -o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
  background: -ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
  background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437', GradientType=0);
  background-color: #c62d1f;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  border: 1px solid #d02718;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 7px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #810e05;
}
.modal-background .modal-content .modal-button:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
  background: -moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
  background: -webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
  background: -o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
  background: -ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
  background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f', GradientType=0);
  background-color: #f24437;
}
.modal-background .modal-content .modal-form {
  padding: 30px;
}
.modal-background .modal-content input {
  margin: 8px auto;
}
@keyframes modOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.middle-learn {
  background-color: #fcb614;
  color: #36312f;
}
.middle-learn .comp-history {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 30px;
}
@media (max-width: 500px) {
  .middle-learn .comp-history {
    flex-direction: column;
  }
}
.middle-learn .comp-history .text-box {
  width: 48%;
  padding-right: 1%;
  padding-left: 4%;
}
@media (max-width: 500px) {
  .middle-learn .comp-history .text-box {
    width: 100%;
  }
}
.middle-learn .comp-history .img-content {
  width: 48%;
  padding-left: 1%;
}
@media (max-width: 500px) {
  .middle-learn .comp-history .img-content {
    width: 100%;
  }
}
.middle-learn .comp-history .img-content img {
  border-radius: 10px;
}
.middle-learn .reverse {
  padding-left: 0;
  padding-right: 3%;
  padding-bottom: 30px;
  padding-top: 0;
}
@media (max-width: 500px) {
  .middle-learn .reverse {
    flex-direction: column-reverse;
  }
}
.middle-learn .reverse .text-content {
  padding-left: 1%;
  padding-right: 0;
}
.middle-learn .reverse .img-content {
  padding-right: 1%;
  padding-left: 0;
}
.middle-learn .additional {
  display: flex;
}
@media (max-width: 500px) {
  .middle-learn .additional {
    flex-direction: column;
  }
}
.middle-learn .additional .contact-info {
  margin: auto 0;
  width: 48%;
}
@media (max-width: 500px) {
  .middle-learn .additional .contact-info {
    width: 100%;
  }
}
.middle-learn .additional .contact-info img {
  max-width: 10em;
  margin-bottom: 4em;
  margin-top: 3em;
  border-radius: 10%;
}
.middle-learn .additional .contact-info .contact {
  margin-bottom: 5%;
}
.middle-learn .additional .form-box {
  width: 48%;
  padding: 2%;
}
@media (max-width: 500px) {
  .middle-learn .additional .form-box {
    width: 100%;
  }
}
.middle-learn .additional .form-box input[type="text"],
.middle-learn .additional .form-box select,
.middle-learn .additional .form-box textarea {
  width: 100%;
  padding: 2%;
  border: 2px solid #a7c737;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 1%;
  margin-bottom: 3%;
  resize: vertical;
}
.middle-learn .additional .form-box input[type="submit"] {
  background-color: #cb2029;
  color: #fdf5e6;
  padding: 2% 3%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.middle-learn .additional .form-box input[type="submit"]:hover {
  background-color: #a7c737;
}
.middle-learn .additional .contact-info h3 {
  font-size: 1.3rem;
  margin-bottom: 1%;
  margin-top: 3%;
}
