/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Quicksand', sans-serif;
}
body {
  text-align: center;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.navigation {
  margin: 0 auto;
  display: flex;
  background-color: #CB2029;
  width: 100%;
  padding: 1.5rem 2rem;
  justify-content: space-evenly;
}
@media (max-width: 500px) {
  .navigation {
    flex-direction: column;
    width: 100%;
    padding: 25px 6.75% 10px;
  }
}
@media (max-width: 700px) {
  .navigation {
    flex-direction: column;
    width: 100%;
    padding: 25px 6.75% 10px;
  }
}
.navigation .modal-button {
  -moz-box-shadow: 3px 4px 0px 0px #8a2a21;
  box-shadow: 3px 4px 0px 0px #8a2a21;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
  background: -moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
  background: -webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
  background: -o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
  background: -ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
  background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437', GradientType=0);
  background-color: #c62d1f;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  border: 1px solid #d02718;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 7px 25px;
  margin-top: 25%;
  text-decoration: none;
  text-shadow: 0px 1px 0px #810e05;
}
@media (max-width: 500px) {
  .navigation .modal-button {
    margin: 15px;
    width: 100%;
  }
}
@media (max-width: 700px) {
  .navigation .modal-button {
    margin: 15px;
    width: 100%;
  }
}
.navigation .modal-button:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
  background: -moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
  background: -webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
  background: -o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
  background: -ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
  background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f', GradientType=0);
  background-color: #f24437;
  border-radius: 18px;
}
.navigation .nav-links {
  margin-top: 5%;
}
@media (max-width: 500px) {
  .navigation .nav-links {
    justify-content: space-between;
    width: 100%;
  }
}
@media (max-width: 700px) {
  .navigation .nav-links {
    justify-content: space-between;
    width: 100%;
  }
}
.navigation a {
  color: #36312F;
  text-align: center;
  padding: 8px;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 25px;
}
.navigation a:hover {
  text-decoration: underline;
  color: black;
  border-radius: 15%;
}
.navigation a:focus {
  text-decoration: underline;
  color: black;
  border-radius: 15%;
}
.navigation .img-logo {
  min-width: 15rem;
  max-width: 15rem;
  height: 15rem;
  border-radius: 25%;
}
@media ((max-width: 500px)) {
  .navigation .img-logo {
    width: 100%;
    margin: 6px 0;
  }
}
@media ((max-width: 700px)) {
  .navigation {
    width: 100%;
    margin: 6px 0;
  }
}
.intro-section {
  background: #E5F2F2 url(../img/school-children.jpg);
  background-size: cover;
  top: 0;
  min-height: 60vh;
  padding-top: 45vh;
  padding-bottom: 190px;
  /*   line-height: 100vh; */
  /*   width:100%;
        height:96vh;
      border:solid; */
}
.intro-section .intro-text {
  color: #E5F2F2;
  font-weight: 700;
  margin: 0 auto;
}
.intro-section .intro-text h1 {
  font-size: 10rem;
}
.intro-section .intro-text p {
  font-size: 12rem;
}
.intro-photo {
  margin-top: 90px;
  background-size: cover;
  color: #CB2029;
  font-weight: bolder;
  padding: 110px 0 110px;
}
footer {
  background-color: #A7C737;
  color: #36312F;
  font-weight: bold;
}
footer .apps {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}
footer p {
  font-size: 1.2rem;
}
.intro-photo {
  background: #FCB614;
  background-size: cover;
}
.intro-photo img {
  width: 50rem;
  height: 40rem;
  padding: 20px;
}
.intro-photo .feature-section {
  padding: 110px 0 110px;
  background: #cfcfd1;
  padding-bottom: 160px;
}
.intro-photo .feature-section .feature-header {
  margin-top: 50px;
  color: #073784;
  font-weight: bold;
}
.panels {
  display: flex;
  justify-content: center;
  align-items: none;
  width: 100%;
  height: auto;
  padding: 10px 6.75%;
}
@media (max-width: 500px) {
  .panels {
    flex-direction: column;
    width: 100%;
  }
}
.panels .header {
  font-size: 1.8rem;
  letter-spacing: 2px;
  font-weight: bold;
  color: #36312F;
}
.panels .panel-btns {
  display: flex;
}
@media (max-width: 500px) {
  .panels .panel-btns {
    margin-top: 1.5rem;
  }
}
.panels .panel-btns .panel {
  color: #36312F;
  margin: 0 5px;
  padding: 2px 10px;
  font-size: 1.6rem;
  letter-spacing: 2px;
  cursor: pointer;
  font-weight: bold;
}
/*card*/
.card-box {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
}
.card-box .about-card {
  border: 1px solid black;
  justify-content: space-between;
  flex-direction: column;
  width: 380px;
  margin-bottom: 16px;
  padding: 24px;
}
.card-box .about-card .name-title {
  font-size: 2.5rem;
}
.card-box .about-card .img-box {
  padding-right: 10px;
  border: 1px solid red;
}
#feature-item-intro {
  background: url(../img/dark-empty-classroom.jpg);
  background-size: cover;
  background-color: #cfcfd1;
  opacity: 0.9;
  top: 0;
  min-height: 60vh;
  padding-top: 45vh;
  padding-bottom: 190px;
  width: 100%;
}
#feature-item-intro .feature-header {
  color: #FCB614;
  padding: 12px;
  font-size: 4rem;
}
#feature-item-intro .feature-content {
  color: #FCB614;
  padding: 12px;
  font-size: 2.5rem;
}
#app-feature {
  background: url(../img/Cell\ Phone.jpg);
  background-size: cover;
  background-color: #cfcfd1;
  top: 0;
  min-height: 60vh;
  padding-top: 15vh;
  padding-bottom: 190px;
  width: 100%;
}
#app-feature .feature-header {
  color: #073784;
  padding: 12px;
  font-size: 5rem;
}
#app-feature .feature-content {
  color: #073784;
  padding: 12px;
  font-size: 2.5rem;
}
#connect-feature {
  background: url(../img/sticky=note\ meeting.jpg);
  background-size: cover;
  background-color: #cfcfd1;
  top: 0;
  min-height: 60vh;
  padding-top: 45vh;
  padding-bottom: 190px;
  width: 100%;
}
#connect-feature .feature-header {
  color: #E5F2F2;
  padding: 12px;
  font-size: 5rem;
}
#connect-feature .feature-content {
  color: #E5F2F2;
  padding: 12px;
  font-size: 2.5rem;
}
#work-order-feature {
  background: url(../img/working-laptops.jpg);
  background-size: cover;
  background-color: #cfcfd1;
  top: 0;
  min-height: 60vh;
  padding-top: 45vh;
  padding-bottom: 190px;
  width: 100%;
}
#work-order-feature .feature-header {
  color: #E5F2F2;
  padding: 12px;
  font-size: 5rem;
}
#work-order-feature .feature-content {
  color: #E5F2F2;
  padding: 12px;
  font-size: 2.5rem;
}
.modal-background {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: auto;
  justify-content: center;
  align-items: center;
  display: none;
}
.modal-background .modal-content {
  width: 300px;
  height: 500px;
  background-color: white;
  border-radius: 4px;
  text-align: center;
  padding: 20px;
  position: relative;
  animation-name: modOpen;
  animation-duration: 1s;
}
.modal-background .modal-content .close {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 30px;
  transform: rotate(45deg);
  cursor: pointer;
}
.modal-background .modal-content #modal-img {
  max-height: 100px;
  max-width: 50%;
  overflow: visible;
  padding-top: 0;
  padding-bottom: 10px;
}
.modal-background .modal-content .modal-button {
  -moz-box-shadow: 3px 4px 0px 0px #8a2a21;
  -webkit-box-shadow: 3px 4px 0px 0px #8a2a21;
  box-shadow: 3px 4px 0px 0px #8a2a21;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
  background: -moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
  background: -webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
  background: -o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
  background: -ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
  background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437', GradientType=0);
  background-color: #c62d1f;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  border: 1px solid #d02718;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 7px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #810e05;
}
.modal-background .modal-content .modal-button:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
  background: -moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
  background: -webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
  background: -o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
  background: -ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
  background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f', GradientType=0);
  background-color: #f24437;
}
.modal-background .modal-content .modal-form {
  padding: 30px;
}
.modal-background .modal-content input {
  margin: 8px auto;
}
@keyframes modOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.info-top {
  display: block;
  flex-wrap: wrap;
  margin-top: 30px;
  padding-bottom: 30px;
}
@media (max-width: 500px) {
  .info-top {
    width: 100%;
  }
}
.info-top .text-cnt {
  margin-top: 10px;
}
.comp-history {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .comp-history {
    flex-direction: column;
  }
}
.comp-history .text-box {
  width: 48%;
  padding-right: 1%;
}
@media (max-width: 500px) {
  .comp-history .text-box {
    width: 100%;
  }
}
.comp-history .img-content {
  width: 48%;
  padding-left: 1%;
}
@media (max-width: 500px) {
  .comp-history .img-content {
    width: 100%;
  }
}
.comp-history .img-content img {
  border-radius: 10px;
}
.reverse {
  padding-bottom: 30px;
}
@media (max-width: 500px) {
  .reverse {
    flex-direction: column-reverse;
  }
}
.reverse .text-content {
  padding-left: 1%;
  padding-right: 0;
}
.reverse .img-content {
  padding-right: 1%;
  padding-left: 0;
}
