/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Quicksand', sans-serif;
}
body {
  text-align: center;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.navigation {
  margin: 0 auto;
  display: flex;
  background-color: #FCB614;
  max-width: 1000px;
  padding: 25px 6%;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px dashed black;
}
@media (max-width: 500px) {
  .navigation {
    flex-direction: column;
    width: 100%;
    padding: 25px 6.75% 10px;
  }
}
.navigation h1 {
  font-size: 3.5rem;
  font-weight: bold;
  color: #CB2029;
}
.navigation nav {
  display: inherit;
  justify-content: space-evenly;
  width: 60%;
}
@media (max-width: 500px) {
  .navigation nav {
    padding-top: 20px;
    justify-content: space-between;
    width: 100%;
  }
}
.navigation a {
  color: #CB2029;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  font-size: 1.55rem;
  line-height: 25px;
  margin-right: 3.5%;
}
.navigation a:hover {
  border: 3px solid #A7C737;
  color: #CB2029;
  background: #FCB614;
  border-radius: 15%;
}
.navigation a:focus {
  border: 3px solid #A7C737;
  color: #CB2029;
  background: #FCB614;
  border-radius: 15%;
}
.intro-section {
  background: #E5F2F2 url(../img/school-children.jpg);
  background-size: cover;
  top: 0;
  min-height: 60vh;
  padding-top: 45vh;
  padding-bottom: 190px;
  /*   line-height: 100vh; */
  /*   width:100%;
        height:96vh;
      border:solid; */
}
.intro-section .intro-text {
  color: #E5F2F2;
  font-weight: 700;
  margin: 0 auto;
}
.intro-section .intro-text h1 {
  font-size: 10rem;
}
.intro-section .intro-text p {
  font-size: 12rem;
}
.intro-photo {
  margin-top: 90px;
  color: #CB2029;
  font-weight: bolder;
  padding: 110px 0 110px;
}
.intro-photo {
  background: #FCB614;
  background-size: cover;
}
.feature-section {
  padding: 110px 0 110px;
  background: #cfcfd1;
  padding-bottom: 160px;
}
.feature-section .feature-header {
  margin-top: 50px;
  color: #073784;
  font-weight: bold;
}
img {
  width: 50rem;
  height: 40rem;
  padding: 20px;
}
#feature-item-intro {
  background: url(../img/dark-empty-classroom.jpg);
  background-size: cover;
  background-color: #cfcfd1;
  opacity: 0.9;
  top: 0;
  min-height: 60vh;
  padding-top: 45vh;
  padding-bottom: 190px;
  width: 100%;
}
#feature-item-intro .feature-header {
  color: #FCB614;
  padding: 12px;
  font-size: 4rem;
}
#feature-item-intro .feature-content {
  color: #FCB614;
  padding: 12px;
  font-size: 2.5rem;
}
#app-feature {
  background: url(../img/Cell\ Phone.jpg);
  background-size: cover;
  background-color: #cfcfd1;
  top: 0;
  min-height: 60vh;
  padding-top: 15vh;
  padding-bottom: 190px;
  width: 100%;
}
#app-feature .feature-header {
  color: #073784;
  padding: 12px;
  font-size: 5rem;
}
#app-feature .feature-content {
  color: #073784;
  padding: 12px;
  font-size: 2.5rem;
}
#connect-feature {
  background: url(../img/sticky=note\ meeting.jpg);
  background-size: cover;
  background-color: #cfcfd1;
  top: 0;
  min-height: 60vh;
  padding-top: 45vh;
  padding-bottom: 190px;
  width: 100%;
}
#connect-feature .feature-header {
  color: #E5F2F2;
  padding: 12px;
  font-size: 5rem;
}
#connect-feature .feature-content {
  color: #E5F2F2;
  padding: 12px;
  font-size: 2.5rem;
}
#work-order-feature {
  background: url(../img/working-laptops.jpg);
  background-size: cover;
  background-color: #cfcfd1;
  top: 0;
  min-height: 60vh;
  padding-top: 45vh;
  padding-bottom: 190px;
  width: 100%;
}
#work-order-feature .feature-header {
  color: #E5F2F2;
  padding: 12px;
  font-size: 5rem;
}
#work-order-feature .feature-content {
  color: #E5F2F2;
  padding: 12px;
  font-size: 2.5rem;
}
