footer {   
    margin: 0 auto;
    padding-bottom: 30px;
       
    .apps {
        margin-top: 10px;
    }
    
    p {
        font-size: 1.4rem;
        font-weight: bold;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    img {
        width: 100%;
        opacity: 0.9;
    }

    a {
        color: @font-color;
        text-align: center;
        padding: 20px;
        text-decoration: none;
        font-size: 1.8rem; 
        font-weight: bold;
        line-height: 25px;
  
        &:hover {
            .cursorRules();
        }
    
        &:focus {
            .cursorRules();
        }
    }
}