footer {
  margin-top: 5%;
  padding-bottom: 1%;
  background-color: white;

  .apps {
    margin-top: 1%;
  }

  p {
    font-size: 1.4rem;
    font-weight: bold;
    padding-bottom: 1%;
    padding-top: 1%;
    color: @font-color;
    letter-spacing: 2px;
  }
  img {
    width: 100%;
    opacity: 0.9;
  }

  a {
    .navLinkRules();

    &:hover {
      .cursorRules();
    }

    &:focus {
      .cursorRules();
    }
  }
}