.intro-photo{
  background: @metallicYellow;
  background-size: cover;
 
}


.feature-section {
    padding: 110px 0 110px;
    background: @featureBg;
    padding-bottom: 160px;
    
    .feature-header {
        margin-top: 50px;
        color: @featureFont;
        font-weight: bold;
      }
         
}



img {
    width: 50rem;
    height: 40rem;
    padding: 20px;
}