// nav hover and focus mixin
.cursorRules() {
    text-decoration: underline;
    color: @navFont;
    border-radius: 15%;
}//make this accept parameters. Stretch: Make it more accessible and not rely solely on colors to change

  