.navigation {
    margin: 0 auto;
    display: flex;
    padding-bottom: 30px;
       
    @media @mobile {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    nav {
        width: 85%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
  
        @media @mobile {
            padding-top: 20px;
            justify-content: space-evenly;
            width: 100%;
        }
                       
        a {
            font-size: 1.55rem;
            text-decoration: none;
            color: @navFont;
            //margin-left: 10.5%;
        }    
    }
} //navigation