//color assignments
@bodyBg: @catskillWhite;
@font-color: @philippineRed;
@featureBg: @frenchGray;
@featureFont: @catalinaBlue;
@navFont: @cadmiumGreen;


//colors
@catskillWhite: #E5F2F2;
@philippineRed: #CE1126;
@frenchGray: #cfcfd1;
@catalinaBlue: #073784;
@metallicYellow: #FCD116;
@cadmiumGreen: #006B3F;

//media variable
@mobile: ~"(max-width: 500px)";