//color assignments
@bodyBg: @catskillWhite;
@font-color: @emperor;
@featureBg: @frenchGray;
@featureFont: @catalinaBlue;
@navFont: @cadmiumGreen;
@navBg: @philippineRed;
@footerBg: @philippineRed;
@footerFont: @metallicYellow;
@infoTopBg: @metallicYellow;


//colors
@catskillWhite: #E5F2F2;
@frenchGray: #cfcfd1;
@catalinaBlue: #073784;
//flag colors
@philippineRed: #CB2029;
@metallicYellow: #FCB614;
@cadmiumGreen: #A7C737;
//font colors:
@emperor: #36312F;

//media variable
@mobile: ~"(max-width: 500px)";
@tablet: ~"(max-width: 700px)";
